body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #007bff;
}

.job-posting {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.job-title {
    color: #007bff;
    margin-top: 0;
}

.job-description {
    margin-bottom: 10px;
}

.job-details {
    font-size: 14px;
}

.job-details strong {
    font-weight: bold;
    color: #007bff;
}